Checks: >
  bugprone-*,
  performance-*,
  modernize-*,
  readability-identifier-naming,
  readability-function-cognitive-complexity
WarningsAsErrors: ""
HeaderFilterRegex: ".*"
CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-function-cognitive-complexity.Threshold
    value: "25"
